<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoAccepter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoAccepter.Properties.Settings>
            <setting name="HideClientToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StealthModeToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameMode" serializeAs="String">
                <value>ARAM</value>
            </setting>
            <setting name="Champion" serializeAs="String">
                <value>Ashe</value>
            </setting>
            <setting name="BoostRAMToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomChampionToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoleCallerToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsernameCreatorToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartySizeSlider" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="IconChangerSlider" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoLoginToggle" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoAccepter.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
